@mixin verticalCenter($direction) {
  display:flex;
  flex-direction:$direction;
  justify-content:center;
  
}

#avatar-name {
  @include verticalCenter(column);
  height:520px;
  width:100%;
  padding-top:70px;
  background-color: orange;
  background-image: url("/images/back-pattern.png");
  background-size:cover;

  .avatar {
  margin-bottom:-50px;
  }

  #name {
    font-size:30px;
  }
}
