@import '_variables';


nav {
  display:flex;
  background-color: $accent-color;
  color: $primary-color; 
  justify-content:space-between;
  align-items:center;
  height:120px;
  width:100%;
  padding-left:1.5em;
  padding-right:1.5em;
  position: fixed;
  vertical-align:middle;

  .bungee {
    font-family:"Bungee";
    font-size:35px;
  }

  .top {
    display:flex;
    align-items: center;
    flex-direction:column;
    padding-right:2.5em;
    font-size:20px;
  }

  #nav-button {
    border:none;
    background-color: transparent;
    color: $primary-color;
    cursor: pointer;
  }


  
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

