#avatar-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 520px;
  width: 100%;
  padding-top: 70px;
  background-color: orange;
  background-image: url("/images/back-pattern.png");
  background-size: cover;
}
#avatar-name .avatar {
  margin-bottom: -50px;
}
#avatar-name #name {
  font-size: 30px;
}
