.formclass {
  display:flex;
  flex-direction:column;
  text-align: left;
}

h2 {
  margin-top:0px;
}

.new-tweet {
  margin-top:5px;
}

#tweet-text {
  background-color: inherit;
  border-bottom-color: grey;
  border-left:none;
  border-right:none;
  border-top:none;
  outline:none;
  border-bottom-width: 3px;
  margin-top:10px;
  height:40px;
}

button {
  background-color: #4056A1;
  color: #FFFFFF; 
  font-family: Bungee;
  outline:none;
  border:none;
}

.bottom {
  display:flex;
  justify-content:space-between;
  margin-top:10px;
}

.counter-red {
  color:red;
}

.tweet-one {
  width:800px;
  height:250px;
  background-color:inherit;
  border:3px solid grey;
  margin-top:30px;
}

article {
  text-align:left;
  margin-left:20px;
  margin-right:20px;
}
.tweet-header {
  display:flex;
  justify-content:space-between;
  margin-left:10px;
  margin-right:10px;
}

hr {
  width:98%;
  border:2px solid grey;
}
.tweet-footer {
  display:flex;
  font-size:16px;
  justify-content:space-between;
  margin-left:10px;
  margin-right:10px;
}

i {
  color:#4056A1;
}

.hover {
  box-shadow:5px 5px 0 rgba(0,0,0,0.2); 
}

.three-icons i.hovered {
  color:orange;
}